---
layout: description
title: Short Resume
---
<h2>{{ page.title }}</h2>
<small>{{ post.date | date_to_string }}</small>
{{content}}

<p><strong>Adron Hall</strong></p>
<p><strong>Contact Information:</strong></p>
<ul>
    <li><strong>Contact Me:</strong> <a href="https://compositecode.blog/contact/">Message Form</a></li>    
<li><strong>Website:</strong> <a href="https://compositecode.blog">compositecode.blog</a></li>
<li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/adron/">linkedin.com/in/adron</a></li>
</ul>
<p><strong>Professional Summary:</strong>
Experienced principal software architect and developer with a robust background in C#, Java Spring Boot, Golang, Python, JavaScript/Node.js and full-stack development with focus in back end and data intensive applications. Passionate about designing efficient and scalable applications, especially in the realm of GraphQL APIs, data management, and cloud technologies. Proven track record in leading development teams, making strategic hiring decisions, and fostering an environment of continuous learning for short and long term organizational growth.</p>
<p><strong>Technical Skills: (<i>things I have had in or are currently in production</i>)</strong></p>
<ul>
<li><strong>Languages:</strong> Java, C#, SQL</li>
<li><strong>Frameworks:</strong> Spring Boot, GraphQL</li>
<li><strong>Databases:</strong> PostgreSQL, Apache Cassandra, SQL Server, Oracle, DB2, MongoDB, Riak, Neo4j, and numerous others.</li>
<li><strong>Other Technologies:</strong> Kafka, Flink, Microservices Architecture, MVC, and numerous others.</li>
</ul>
<p><strong>Professional Experience:</strong></p>
<p><strong>Principal Software Engineer</strong>
<em>Dates of Employment</em></p>
<ul>
<li>Developed and maintained Java Spring Boot applications, focusing on GraphQL APIs.</li>
<li>Refactored and optimized existing codebases, enhancing performance and scalability.</li>
<li>Designed and implemented database schemas and integrations for Oracle and MongoDB.</li>
<li>Led a team of developers, providing mentorship and fostering professional growth.</li>
</ul>
<p><strong>Chief Software Architect</strong>
<em>Dates of Employment</em></p>
<ul>
<li>Architected solutions for complex software problems, ensuring alignment with business goals.</li>
<li>Conducted code reviews and guided the implementation of best practices across the development team.</li>
<li>Spearheaded the development of microservices architecture and deployment pipelines.</li>
<li>Evaluated and implemented new technologies to improve system reliability and performance.</li>
</ul>
<p><strong>Technical Writer and Content Creator</strong></p>
<ul>
<li>Authored technical blogs and tutorials on software development and best practices.</li>
<li>Created video content for YouTube, focusing on programming challenges and algorithm solutions in C#.</li>
<li>Wrote detailed reviews and analyses of music performances and compositions.</li>
</ul>
<p><strong>Projects:</strong></p>
<ul>
<li>Developed a series of templates for Java Spring Boot GraphQL APIs.</li>
<li>Built applications interfacing with Kafka Topics, RDBMS, and MongoDB.</li>
</ul>
<p><strong>Community Involvement:</strong></p>
<ul>
<li>Active participant in local and online developer communities.</li>
<li>Frequent speaker at tech conferences and meetups.</li>
<li>Mentor for junior developers and students.</li>
<li>Organizer of local Seattle/Portland meetups over the years.</li>
</ul>

</div>
<div>Mastadon <a href="https://metalhead.club/@adron">@Adron</a> or LinkedIn <a href="https://www.linkedin.com/in/adron/">@Adron</a></div>

</div>
{% if site.disqus.shortname and page.comments %}
  <hr>
  {% include disqus_comments.html %}
{% endif %}
